*{
  padding: 0;
  margin: 0;
}
.container{
margin: 0 auto ;
  width: 90%;
}
a{
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

input {
  cursor: pointer;
  border: none;
}